body{
    background-color: beige;
    display:flex;
    align-items:center;
    justify-content: center;

}
.padre{
    background-color:white;
    border: 2px solid grey;
    width:1000px;
    padding-left: 10px;
    height: 600px;
}
.titulo{
    display:flex;
    font-family: "Roboto";
    border: 0px solid red;
}
span{
    border: 1px solid blue;
    display:block;
    
    width:20%;
    
}
.introduccion{
    border: 2px solid red;
    float:left;
    margin-top:20px;
}

